.card {
    margin-top: .5em;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.5s;
    /* Add a slight delay */
    border: 1px solid #0f0f0f;
    border-radius: 4px;
}

.card:hover {
    box-shadow: 4px 4px 4px 4px rgba(7, 7, 7, 0.5);
    cursor: pointer;
    transform: translateY(-5px);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #9d89c2;
    margin: 0;
    padding: 0;
}

img {
    padding: 5px;
    width: 150em;
    height: 150px;
}

.img-thumbnail {
    width: 75%;
}

@media (max-width: 800px) {
    .col-md-3 {
        width: 50%;
    }
}

@media (max-width: 300px) {
    .col-md-3 {
        width: 100%;
    }
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}