.card {
    margin-top: .5em;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.5s;
    /* Add a slight delay */
    border: 1px solid #0f0f0f;
    border-radius: 4px;
}

.card:hover {
    box-shadow: 4px 4px 4px 4px rgba(7, 7, 7, 0.5);
    cursor: pointer;
    transform: translateY(-5px);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4fa8a1;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.background-img {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.3)), url("../images/penn3.jpg") no-repeat center ;
    /* Add a semi-transparent overlay on top of the background image */
    background-attachment: fixed;
}

img {
    padding: 5px;
    width: 150em;
    height: 300px;
}

/* .img-thumbnail {
    width: 75%;
} 

/* @media (max-width: 800px) {
    .col-md-3 {
        width: 50%;
    }
}

@media (max-width: 300px) {
    .col-md-3 {
        width: 100%;
    }
} */

.modal-body {
    background-color:#2e5f22;
    font-weight: bolder;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}